{% extends "base.html" %}

{% block content %}

<form method="POST" action="/add" class="mb-6 flex gap-2"><input type="text" name="title" placeholder="Ketik Tugas" class="flex-1 px-3 py-2 rounded text-black">
    <select name="priority" class="px-3 py-2 rounded text-black">
        <option value="high">High</option>
        <option value="medium" selected>Medium</option>
        <option value="low">Low</option>
    </select>
    <input type="date" name="deadline">
    <button class="bg-blue-600 px-4 py-2 rounded">Tambah</button></form>

<ul>
    {% for t in tasks %}
    <li class="mb-3">

        {% if t.done %}
        <span class="line-through text-gray-400">{{ t.title }}</span>
        

        {% else %}
        <div class="flex items-center gap-2">
            <span>{{ t.title }}</span>
            <form method="POST" action="/done/{{ t.id }}">
                <input type="checkbox" onchange="this.form.submit()" class="w-5 h-5">
            </form>
            <a href="/edit/{{ t.id }}" class="text-blue-400 text-sm">Edit</a>
        </div>
        <div class="text-sm text-gray-400">
            {% if t.priority == "high" %}
                <span class="text-red-400">High</span>
            {% elif t.priority == "medium" %}
                <span class="text-yellow-400">Medium</span>
            {% elif t.priority == "low" %}
                <span class="text-green-400">Low</span>
        {% endif %}
        · {{ t.deadline }}
    </div>
        {% endif %}
    </li>
    {% endfor %}
</ul>

<form method="POST" action="/delete_done" class="mt-6"><button class="bg-red-600 px-4 py-2 rounded">Hapus yang Selesai</button></form>
{% endblock %}

